src/main/resources/xsd/event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="event" type="eventType"/>
    <xs:complexType name="eventType">
        <xs:sequence>
            <xs:element type="xs:string" name="action"/>
            <xs:element type="xs:string" name="target"/>
            <xs:element type="xs:string" name="params"/>
            <xs:element type="xs:string" name="result"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>